.header-panel-style{
    background-color:#27af5b;
    color: #ffffff;
}

.panel-size{
    width: 500px;
    margin-top: 10px;   
}

.button-back-style{
    background-color:#00953a;
    color: #ffffff;
}