<h1>Detalles indicador 1E</h1>

<h4>Vinculación con entidades nacionales e internacionales</h4>
<h4><b> Recuento de actividades:</b> {{ registros.length}} </h4>
<p>Nº de actvidades de difusión en la que el CET participa</p>

<table class='table'>
  <thead>
      <tr>
          <th>Fecha</th>
          <th>Nombre actividad</th>
          <th>Documentos de respaldo</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let registro of registros">
          <td>{{ registro.date }}</td>
          <td>{{ registro.name }}</td>
          <td><a href="{{ registro.resource }}">Descargar respaldo</a></td>
      </tr>
  </tbody>
</table>