<div *ngIf="indicatorResultsObservable | async as indicatorResults; else loading">
  <!-- end page-section -->
  <section>
    <div id="statistic-section" class="statistic-bg" data-stellar-background-ratio="0">
      <div class="container">
        <div class="row">

          <ng-template ngFor let-indicator [ngForOf]="indicatorGroup.indicators" let-i="index" [ngForTrackBy]="trackByFn">
            
            <div *ngIf="isAllowedToRead(indicator.indicatorID)" class="indicator-block col-xs-12 col-sm-6 col-md-4"> 
              <a class="active" (click)="gotoIndicator(indicatorGroup.indicatorGroupID, indicator.indicatorID)">
                <div class="services-content">
                    <div class="fact statistic-percent" [attr.data-perc]="indicatorResults[i]">
                    
                      <div class="row" *ngIf="goalsObservable | async as goals">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <p>Actual</p>
                          <span class="percentfactor">{{ indicatorResults[i] | number:'.0-2' }}<strong *ngIf="indicator.registriesType == 2;">%</strong></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                          <p>Meta</p>
                          <span class="percentfactor">{{ goals[i] | number:'.0-2' }}<strong *ngIf="indicator.registriesType == 2;">%</strong></span>
                        </div>
                      </div>
                      <p class="text-ellipsis" title="{{ indicator.name }}">{{ indicator.name }}</p>
    
                  </div>
                  <!-- end statistic-percent -->
                </div>
                <!-- end col-xs-6 col-sm-3 col-md-3 -->
              </a>
            </div>
          </ng-template>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end statistic-section -->
  </section>
  <!-- End statistic section -->
</div>


<ng-template #loading>
  Cargando...
</ng-template>
  