<!-- Head page section================================================== -->
<section>
  <div id="head-page-section" class="l-grey-bg head-page-section">
    <div class="container">
      <app-navigation-buttons></app-navigation-buttons>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9">
          <div class="head-title">
            <h1>
              Configuración
            </h1>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
          <button [class.hidden]="!isAdminOrManager" type="button" class="btn btn-primary btn-md"
                  (click)="openModal(addIndicatorGroup)">
            Agregar resultado esperado <span class="glyphicon glyphicon-plus"> </span>
          </button>
        </div>
      </div>

      <section>

        <div class="container">
          <div style="margin-top: 10px;">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <h2>
                  Listado de resultados esperados
                </h2>
              </div>
            </div>
            <div *ngIf="indicatorsGroups$ | async as indicatorGroups">
              <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ng-template ngFor let-indicatorGroup [ngForOf]="indicatorGroups" let-i="index">
                  <ngb-panel>
                    <ng-template ngbPanelTitle
                                 style="padding: 1em; border-radius: 0.5em; font-size: 14px; border: 5px solid #c4c4c4 !important; font-weight: bolder;">
                      <div class="row clickable" style="padding: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <div class="col-xs-12 col-sm-12 col-md-7">
                          <h5 class="fixh5">
                            {{ indicatorGroup.name }}
                          </h5>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-4">
                          <button class="btn btn-xs btn-warning" type="button"
                                  (click)="openModalEdit($event, editIndicatorGroup,indicatorGroup)">Modificar
                          </button>
                          <button class="btn btn-xs btn-danger" type="button"
                                  (click)="deleteIndicatorGroup($event, indicatorGroup)"
                                  [disabled]="indicatorGroup.indicatorGroupID === 9">ELIMINAR
                          </button>
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-1 pull-right">
                          <span class="pull-right centered-vertical glyphicon glyphicon-menu-down"
                          style="font-size: 24px; vertical-align: top; padding-top: -10px;"></span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <button [class.hidden]="!isAdminOrManager" type="button" class="btn btn-primary btn-xs pull-right"
                                  (click)="openModalIndicator(addIndicator, indicatorGroup.indicatorGroupID)">
                            Agregar indicador <span class="glyphicon glyphicon-plus"> </span>
                          </button>
                        </div>
                      </div>
                      <hr>
                      <ng-template ngFor let-indicator [ngForOf]="indicatorGroup.indicators">
                        <div class="row" style="margin-bottom: 5px; margin-top: 5px;">
                          <div class="col-xs-7 col-sm-7 col-md-9">
                            <h5 class="fixh5">
                              <strong>{{ indicator.name }}</strong>
                            </h5>

                          </div>
                          <div class="col-xs-5 col-sm-5 col-md-3">
                            <button class="btn btn-xs btn-danger"
                                    [disabled]="indicator.registriesType == externalRegistry"
                                    type="button" (click)="deleteIndicator($event, indicator)">ELIMINAR
                            </button>
                          </div>
                        </div>
                        <hr>
                      </ng-template>
                    </ng-template>
                  </ngb-panel>
                </ng-template>

              </ngb-accordion>
            </div>
          </div>


        </div>
        <!--End Container-->

      </section>

      <!-- Modal Edit Indicator -->
      <ng-template #editIndicatorGroup>
        <div class="modal-header" tabindex="-1">
          <h4 class="modal-title pull-left">Modificar resultado esperado</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="editIndicatorGroupModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-indicator-group-editor [modalRef]="editIndicatorGroupModalRef" [indicatorGroup]="selectedIndicatorGroup"
                                    (updateEvent)="update()"></app-indicator-group-editor>
      </ng-template>


      <!-- Modal Add IndicatorGroup -->
      <ng-template #addIndicatorGroup>
        <div class="modal-dialog">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Ingrese un nuevo resultado esperado</h4>
            <button type="button" class="close pull-right" aria-label="Close"
                    (click)="addIndicatorGroupModalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-indicator-group-form (updateEvent)="update()"
                                      [modalRef]="addIndicatorGroupModalRef"></app-indicator-group-form>
          </div>
        </div>
      </ng-template>


      <ng-template #addIndicator>
        <div class="modal-dialog">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Ingrese un nuevo indicador</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="addIndicatorModalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-indicator-form (udpateEvent)="update()" [modalRef]="addIndicatorModalRef"
                                [idIndicatorGroup]="idIndicatorGroup"></app-indicator-form>
          </div>
        </div>
      </ng-template>
