.btn-cancel {
  margin-right: 5px;
}
.card {
  margin: 1em;
}

.card-body {
  margin: 1em;
  padding: 1em;
  display: none;
  padding-top: 10px;
}
// This stuff matters!
.show {
  overflow: hidden;
  transition: transform 2s ease-out !important; // note that we're transitioning transform, not height!
  height: 100%;
  transform: scaleY(1); // implicit, but good to specify explicitly
  transform-origin: top; // keep the top of the element in the same place. this is optional.
}

.card-header {
  padding: 1em;
  //border-radius: 0.5em;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  font-weight: bolder;

  a {
    color: black;
  }
}
.head-page-section{
    margin-top: 80px !important;
}


