<!-- Head page section================================================== -->
<section>
  <div id="head-page-section" class="l-grey-bg head-page-section">
    <div class="container">
      <app-navigation-buttons></app-navigation-buttons>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="head-title">
            <h1>
              Configuración
            </h1>
          </div>
          <!-- end subsection-text -->
        </div>
        <!-- end col-md-8 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end head-page-section -->
</section>

<section>

  <div class="container">
    <div style="margin-top: 10px;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h2>
            Listado de resultados esperados
          </h2>
        </div>
      </div>
      <div *ngIf="indicatorsGroups$ | async as indicatorGroups">
        <ngb-accordion [closeOthers]="true" activeIds="static-1">
          <ng-template ngFor let-indicatorGroup [ngForOf]="indicatorGroups" let-i="index">
            <ngb-panel>
              <ng-template ngbPanelTitle style="padding: 1em; border-radius: 0.5em; font-size: 14px; border: 5px solid #c4c4c4 !important; font-weight: bolder;">
                <div class="row clickable" style="padding: 20px; margin-bottom: 5px; margin-top: 5px;">
                    <div class="col-xs-9 col-sm-9 col-md-9">
                      <h5 class="fixh5">
                        {{ indicatorGroup.name }}
                      </h5>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1" style="margin-top: 5px;">
                        <button class="btn btn-xs btn-danger" type="button" (click)="deleteIndicatorGroup($event, indicatorGroup)">Eliminar</button>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 pull-right">
                      <span class="pull-right centered-vertical glyphicon glyphicon-menu-down" style="font-size: 24px; vertical-align: top; padding-top: -10px;"></span>
                    </div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <ng-template ngFor let-indicator [ngForOf]="indicatorGroup.indicators">
                  <div class="row" style="margin-bottom: 5px; margin-top: 5px;">
                    <div class="col-xs-10 col-md-10">
                      <h5 class="fixh5">
                        <strong>{{ indicator.name }}</strong>
                      </h5>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 pull-right" style="margin-top: 5px;">
                      <div class="pull-right">
                        <button class="btn btn-xs btn-danger" type="button" (click)="deleteIndicator($event, indicator)">Eliminar</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-template>
            </ngb-panel>
          </ng-template>

        </ngb-accordion>
      </div>
    </div>



  </div>
  <!--End Container-->

</section>
