.indicator-block {
  margin: 0px 0px 20px 0px;
}

#statistic-section {
  padding: 20px 0px;
}

.statistic-percent {
  height: 17em;
}

.text-ellipsiss {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden
}
