<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <div class="form-group">
    <label for="name" class="sr-only">Nombre del registro</label>
    <input type="text" id="name" class="form-control" placeholder="Nombre del registro" required [(ngModel)]="model.name" name="name"
      #name="ngModel">
  </div>
  <div class="form-group">
    <label class="sr-only">Fecha</label>
    <!--<input name="fecha" id="email" class="form-control" placeholder="Fecha">-->
    <input type="date" required [(ngModel)]="model.date" name="date" #name="ngModel">
  </div>

  <div class="form-group" *ngIf="indicator.registriesType === 1">
    <label class="sr-only">Ingrese Cantidad</label>
    <input type ="number" id="quantity" class="form-control" placeholder="Cantidad"
    required [(ngModel)]="model.quantity" name="quantity" #name="ngModel">
  </div>

  <div class="form-group" *ngIf="indicator.registriesType === 2">
    <label class="sr-only">Ingrese Porcentaje</label>
    <input type ="number" id="percent" class="form-control" placeholder="Porcentaje"
    required [(ngModel)]="model.percent" name="percent" #name="ngModel">
  </div>

  <div class="form-group">
    <label for="select" class="btn btn-sm btn-clean-2">Seleccionar Documento</label>
    <input type="file" id="files" multiple name="photo" id="select" />
  </div>
  <!--<button type="submit" class="btn btn-primary" (click)="closeModal()">Registrar</button>-->
  <button type="submit" class="btn btn-primary" (click)="closeModal()" (click)="Actualizar()" >Registrar</button>
</form>