<div *ngIf="indicator$ | async as indicator; else loading">
  <!--Title-->
  <div id="head-page-section" class="l-grey-bg head-page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7">
          <div class="head-title">
            <h1>
              {{ indicator.name }}
            </h1>              
          </div> <!-- end subsection-text -->
        </div> <!-- end col-md-8 -->
      </div> <!-- end row -->
    </div> <!-- end container -->
  </div>

  <div class="container">  
    <!--Dropdown Filters-->
    <div class="row">

      <!--Dropdown Year Filter-->
      <div class="col-md-6">
        Seleccione el año a mostrar:
        <br>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            {{ selectionYear }} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li><a class="dropdown-item" (click)="selectRegistriesYear(allYears)">Todos los años</a></li>
            <li *ngFor="let year of years"><a class="dropdown-item" (click)="selectRegistriesYear(year)">Año {{ year }}</a></li>
          </ul>
        </div>
      </div>
    </div>

  <div class="heading-block" *ngIf="registriesCount != 0; else noRegistries">
    <h2>Detalle de Registros</h2>
  </div>

  <div class="panel panel-default" *ngFor="let registry of indicator.registries">
    <!-- Default panel contents -->
    <div class="panel-heading">
      {{registry.name}}
      <div class="pull-right">
        <button href="#" class="btn btn-success btn-xs" (click)="openModalEditRegistry(editRegistry,registry)"> <span class="glyphicon glyphicon-pencil">  </span>  </button>
        <button href="#" class="btn btn-danger btn-xs" (click)="deleteRegistry(registry)"> <span class="glyphicon glyphicon-trash"> </span> </button>
      </div>
    </div>
    <div class="panel-body">
      <div class="container">
          <h6>Documentos de respaldo</h6>
        </div>
        <table class="table">
          <tr *ngFor="let document of registry.documents">
            <td><b>{{document.name}}</b></td>
            <td>{{document.date | date: 'dd-MM-yyyy'}}</td>
            <td><a href="{{ document.link }}">Descargar</a></td>
            <td><button class="btn btn-danger btn-xs pull-right" (click)="deleteDocument(registry,document)"> <span class="glyphicon glyphicon-trash"> </span> </button></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>

<ng-template #loading>
  <div id="head-page-section" class="l-grey-bg head-page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7">
          <div class="head-title">
            <h2>
              Cargando...
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noRegistries>
  <h2>Aún no se han cargado registros.</h2>         
</ng-template>