.head-page-section {
  margin-top: 80px !important;
}

.row-number {
  width: 100%;
  height: 30%;
  padding: 20px;
  /*background: rebeccapurple;*/
}

.row-h1 {
  color: #47b475;
  font-size: 32px;
  text-align: center;
}

.shortcode {
  background-color: #fcfcfc !important;
  text-align: center;
  border-radius: 0;
}

.textfilter {
  text-align: left !important;
}

.buttonlink {
  background-color: transparent !important;
  color: #47b475;
  border: none;
}
