.card-body {
  margin: 1em;
  padding: 1em;
  display: none;
  padding-top: 10px;
}

.show {
  overflow: hidden;
  transition: transform 2s ease-out !important;
  transform: scaleY(1);
}

.card-header {
  padding: 1em;
  border-radius: 0.5em;
  font-size: 14px;
  border: 1px solid #c4c4c4;
  font-weight: bolder;
  a

{
  color: black;
}

}


.card {
  margin: 1em;
}

.pull-right .centered-vertical {
  // padding-top: 30px;
  // padding-bottom: 30px;
}

.clickeable {
  display: block;
}

.value-box {
  height: 1.8em;
  background: #47b475;
  width: 3em;
  padding: 1px;
  text-align: center;
}

.not-bold-but-italic {
  font-weight: lighter;
  font-style: italic;
}
