<form (ngSubmit)="onSubmit()" #indicatorGroupForm="ngForm">
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-xs-12 col-sm-12 col-md-12">
        <label>Nombre</label>
        <input type="text" placeholder="Nombre" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel" />
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Nombre no puede estar vacio
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <!--modal-footer needed, in other case, the button will be outside the modal-->
    <button type="button" class="btn btn-sm btn-clean-2" (click)="hideModal()">CANCELAR</button>
    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!indicatorGroupForm.form.valid">Aceptar</button>
  </div>
</form>
