<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12">
    <span class="h3">Gráfica de Resultados</span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3">
    Seleccione Tipo Gráfico
    <br />

    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
        {{ selectedTypeChart }} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li *ngFor="let typeChart of typesChart"><a class="dropdown-item" (click)="selectChart(typeChart)">{{ typeChart }}</a></li>
      </ul>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div style="align-content: center; height: 50vh;">
      <canvas baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
</div>
