<h1>Detalles Indicador 1A</h1>
<h2>Vinculación con entidades nacionales e internacionales</h2>
<h3>Nº de Nuevas entidades internacionales vinculadas al CET</h3>

<!--Si están cargandose datos se meustra este mensaje-->
<p *ngIf="!details"><em>Cargando datos...</em></p>

<!--Tabla de detalles, mostrada cuando ya se cargaron lo datos-->
<table class='table' *ngIf="!!details">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Nombre de entidad internacional</th>
            <th>Documento de respaldo</th>
        </tr>
    </thead>
    <tbody>
        <!--Ya que details es un Observable, async se encarga de manejar el suscribe-->
        <tr *ngFor="let detail of details | async">
            <td>{{ detail.date }}</td>
            <td>{{ detail.name }}</td>
            <td><a href="{{ detail.documenturl }}">Descargar respaldo</a></td>
        </tr>
    </tbody>
</table>