<div class="container" *ngIf="registry; else noRegistry;">
  <h2>Editar Registro</h2>
  <form (ngSubmit)="editRegistry()" #registryEditForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="registry.registry.name" name="name" #name="ngModel" />
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Nombre no puede estar vacio
      </div>
    </div>

    <div class="form-group">
      <label for="date">Fecha</label>
      <input type="date" class="form-control" id="date" required [(ngModel)]="registry.registry.date" name="date" #date="ngModel" />
      <div [hidden]="(date.valid || date.pristine)"
           class="alert alert-danger">
        Fecha es requerida
      </div>
    </div>

    <div class="form-group" *ngIf="registry.type === 1">
      <label for="quantity">Valor</label>
      <input type="text" pattern="[0-9]{1,}" class="form-control" id="quantity" required [(ngModel)]="registry.registry.quantity" name="quantity" #quantity="ngModel" />
      <div [hidden]="(quantity.valid || quantity.pristine)"
           class="alert alert-danger">
        Cantidad deber ser un número entero
      </div>
    </div>

    <div class="form-group" *ngIf="registry.type === 2">
      <label for="percent">Porcentaje</label>
      <input type="text" pattern="[0-9]{1,}[\.]{0,1}[0-9]{1,}" class="form-control" id="percent" required [(ngModel)]="registry.registry.percent" name="percent" #percent="ngModel" />
      <div [hidden]="(percent.valid || percent.pristine)"
           class="alert alert-danger">
        Porcentaje debe ser un número entero o decimal (punto "." es separador de decimales)
      </div>
    </div>
    <button type="submit" class="btn btn-success pull-right" [disabled]="!registryEditForm.form.valid">Editar</button>

  </form>
</div>

{{registry.registry | json}}

<ng-template #noRegistry>
  <em>
    Registro no seleccionado.
  </em>
</ng-template>
