<div class="modal-header">
  <h4 class="modal-title pull-left">Editar registro</h4>
  <button type="button" class="close pull-right" aria-label="close" (click)="editModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #registryEditForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="newRegistry.name" name="name" #name="ngModel" />
      <div [hidden]="name.valid || name.pristine"
            class="alert alert-danger">
        Nombre no puede estar vacio
      </div>
    </div>

    <div class="form-group">
      <label for="date">Fecha</label>
      <input class="form-control" id="date" required [(ngModel)]="newRegistry.date" name="date" #date="ngModel"  bsDatepicker [minDate]="minDate" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"/>
      <div [hidden]="(date.valid || date.pristine)"
            class="alert alert-danger">
        Fecha es requerida
      </div>
    </div>

    <div class="form-group" *ngIf="registriesType === 1">
      <label for="quantity">Cantidad</label>
      <input type="text" pattern="[0-9]{1,}" class="form-control" id="quantity" required [(ngModel)]="newRegistry.quantity" name="quantity" #quantity="ngModel" />
      <div [hidden]="(quantity.valid || quantity.pristine)"
            class="alert alert-danger">
        Cantidad debe ser un número entero
      </div>
    </div>

    <div class="form-group" *ngIf="registriesType === 2">
      <label for="percent">Porcentaje</label>
      <input type="text" pattern="[0-9]{1,}([\.][0-9]{1,2}){0,1}" class="form-control" id="percent" required [(ngModel)]="registry.percent" name="percent" #percent="ngModel" />
      <div [hidden]="(percent.valid || percent.pristine)"
            class="alert alert-danger">
        Porcentaje debe ser un número entero o decimal (punto "." es separador de decimales)
      </div>
    </div>
    
    <div class="modal-footer"> <!--modal-footer needed, in other case, the button will be outside the modal-->
      <button class="btn btn-clean-2" (click)="editModalRef.hide()">CANCELAR</button>
      <button type="submit" class="btn btn-primary" [disabled]="!registryEditForm.form.valid" (click)="editRegistry()">Editar</button>
    </div>
  </form>
</div>

