<div class="up-footer">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="widget footer-widget text-widget">
          <h4>Acerca de Thinkagro</h4>
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-9">
              <p><img src="/assets/images/thinkagro.png"></p>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <p><img src="/assets/images/utalca-logo.png"></p>
            </div>
          </div>
          <p>Aplicación Web desarrollada por Taller de Desarrollo de Software ICC 2018-1, en la facultad de Ingeniería de la Universidad de Talca, Chile. Todos los derechos reservados. (En proceso de desarrollo)</p>
        </div> <!-- end footer-widget -->

      </div> <!-- end col-md-3 -->

      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="widget footer-widget widget-contact-info">
          <h4>Contáctanos</h4>
          <ul class="widget-contact-list">
            <li>
              <i class="fa fa-map-marker"></i>
              <strong>Dirección:</strong> Oficina Curicó, Edificio I+D, Universidad de Talca. Camino Los Niches KM 1 s/n, Curicó, Región del Maule, Chile
            </li>
            <li>
              <i class="fa fa-envelope"></i><strong>Email de contacto:</strong> <a href="mailto:contacto@thinkagro.cl">contacto@thinkagro.cl</a>
            </li>
            <li>
              <i class="fa fa-clock-o"></i>
              <strong>Horario de atención:</strong> Lunes a Viernes: <strong>09:00 - 18:30 hrs</strong>
              <br>Sábados, Domingos: <strong>Cerrado</strong>
            </li>
          </ul>
        </div> <!-- end widget-contact-info -->

        <div class="widget footer-widget follow-widget">
          <h4>Síguenos</h4>
          <ul class="social-list">
            <li><a class="facebook" href="https://www.facebook.com/cetthinkagro/"><i class="fa fa-facebook"></i></a>  ThinkAgro - Facebook</li>
            <li><a class="twitter" href="https://twitter.com/CET_ThinkAgro"><i class="fa fa-twitter"></i></a>  ThinkAgro - Twitter</li>
          </ul>
        </div>
      </div> <!-- end col-md-3 -->

    </div> <!-- end row -->
  </div> <!-- end container -->
</div>
