
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 img-responsive-parentB">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 img-responsive-parent">
    <img class="img-responsive" src="/assets/images/thinkagro.png" />
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 img-responsive-parent text-center">
    <h4>Bienvenidos a Thinkagro, una aplicación para la gestión estadística de indicadores. Inicie sesión para acceder a la vista de indicadores u otras operaciones disponibles.</h4>
  </div>
</div>

