.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #5cb85c; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #d9534f; /* red */
}


.table td {
  text-align: center;
}

.table {
  margin: 5px;
}
