<form #editIndicatorForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 class="head-project-title">Información Básica</h4>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 col-md-12">
        <label>Nombre del indicador</label>
        <input type="text"  class="form-control" id="name" required [(ngModel)]="newIndicator.name" name="name" #name="ngModel" />
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Nombre no puede estar vacio
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4 col-md-6"> <!-- Enough space just to show the label on the "first line". So, the dropdown will be on the "second line"-->
        <label>Resultado esperado al que pertenece</label>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn-drop btn btn-sm btn-primary dropdown-toggle" aria-controls="dropdown-basic">
            {{(selectedText.length&gt;maxLength? (selectedText | slice:0:maxLength)+&apos;..&apos;:(selectedText))}}
            <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li *ngFor="let group of groups"><a class="dropdown-item" (click)="updateSelected(group.name)">{{(group.name.length&gt;(maxLength+10)? (group.name | slice:0:(maxLength+10))+&apos;..&apos;:(group.name))}}</a></li>
          </ul>
        </div>
      </div>
    </div>



  </div>
  <div class="modal-footer"> <!--modal-footer needed, in other case, the button will be outside the modal-->
    <button type="button" (click)="indicatorModalRef.hide()" class="btn btn-sm btn-clean-2" ng-click=cancel()>Cancelar</button>
    <button type="submit" class="btn btn-sm btn-primary" [disabled]="!editIndicatorForm.form.valid">Aceptar</button>
  </div>
</form>
