 <form #heroForm="ngForm">
  <!--<form (ngSubmit)="onSubmit()" #heroForm="ngForm"> -->
   <div class="row">
     <div class="form-group col-xs-12 col-sm-4 col-md-4">
       <label for="date">Fecha</label>
       <input type="text" placeholder="Ingrese fecha" class="form-control" id="date" required bsDatepicker [(ngModel)]="model.date" name="date" #date="ngModel" />
       <div [hidden]="true" class="alert alert-danger">
         Fecha es requerida
       </div>
       <label>Archivo</label>
       <input #file type="file" />
     </div>
   </div>
  <input type="submit" class="btn btn-primary" (click)="upload(file.files)">
</form>
