<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="width: 160px;"><img alt="" src="/assets/images/thinkagro.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="/">Inicio</a></li>
          <li *ngIf = "isLogged"> <a (click)="openModalReport(generator)"  href="#" onclick="return false;">Descargar Informe</a></li> <!-- Yo lo puse-->
          <li [class.hidden]="isLogged" ><a (click)="openModal(template)"  href="#">Iniciar Sesión</a></li>
          <li [class.hidden]="!isLogged" ><a (click)="logOut()"  href="./#">Cerrar Sesión</a></li>
      </ul>

      <ng-template #generator >
        <div class="modal-dialog" style="width: 90%">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Generador de informes de todos los indicadores</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngIf="indicatorGroupsComplete$ | async as indicatorGroups">
                <app-reportgenerator [modalRef]="modalRef"  [indicatorGroups]="indicatorGroups"></app-reportgenerator>
              </div>
        </div>
      </ng-template>

      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Iniciar Sesión</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input class="cred" (keyup.enter)="authorize()" [(ngModel)]="email" type="email" name="email" minLength="4" required placeholder="email">
          <br>
          <input class="cred" (keyup.enter)="authorize()" [(ngModel)]="password" type="password" name="password" minLength="4" required placeholder="contraseña">
          <br>
          <button type="button" (click)="authorize()" class="btn cred2 btn-primary"> Ingresar </button>
        </div>
      </ng-template>
    </div> <!-- end navbar-collapse -->
  </div>
</nav>
