.cred {
  margin-left: 30%;
  width: 40%;
  margin-right: 30%;
  margin-bottom: 1em;
}

.cred2 {
  margin-left: 40%;
}

.hidden {
  display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
