<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="width: 160px;"><img alt="" src="/assets/images/thinkagro.png"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a class="active" href="/">Inicio</a></li>
          <li [class.hidden]="!isLogged || !isAdminOrManager"> <a (click)="openModalReport(generator)"  href="javascript:void(0)" onclick="return false;">Generar Informe</a></li> <!-- Yo lo puse-->
          <li [class.hidden]="!isLogged || !isAdminOrManager" ><a  (click)="goToConfigPage()" >Configuración</a></li>
          <li [class.hidden]="isLogged" ><a (click)="openModal(login)" href="javascript:void(0)"  >Iniciar Sesión</a></li>
          <li [class.hidden]="!isLogged" ><a (click)="logOut()" href="javascript:void(0)"  >Cerrar Sesión</a></li>
      </ul>

      <ng-template #generator >
        <div class="modal-dialog" style="width: 90%">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Generador de informes de todos los indicadores</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" *ngIf="indicatorGroupsComplete$ | async as indicatorGroups">
                <app-reportgenerator [modalRef]="modalRef"  [indicatorGroups]="indicatorGroups"></app-reportgenerator>
              </div>
        </div>
      </ng-template>

    <!--Sesion-->
    <ng-template #login>
        <div class="modal-header " tabindex="-1">
            <div class="modal-title pull-left">
              <i _ngcontent-c3="" class="glyphicon glyphicon-user"></i>
              &nbsp;
              Iniciar Sesión
            </div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <img src="/assets/images/thinkagro.png" style="width: 100px;" class="center">
              </div>
              <div class="pad-bt-60"></div>

              <div class="form-group col-sm-12 col-md-12">
                <label>Email</label>
                <input type="email" placeholder="Email" (keyup.enter)="authorize()" [(ngModel)]="email" class="form-control" name="email" minLenght="4" required />
            </div>
              <div class="form-group col-sm-12 col-md-12">
                <label>Contraseña</label>
                <input type="password" placeholder="******" class="form-control" id="name" required minLenght="4" name="password" (keyup.enter)="authorize()" [(ngModel)]="password" />
              </div>
              <!--
              <div class="form-group col-sm-12 col-md-12">
                <p class="text-center">¿Olvidó su Contraseña? Contacte a un Administrador</p>
              </div>
	      -->
          </div>        
      </div>

      <div class="modal-footer"> <!--modal-footer needed, in other case, the button will be outside the modal-->
        <!--button type="submit" class="btn btn-success pull-right" [disabled]="!addRegistryForm.form.valid"><i class="glyphicon glyphicon-ok"></i> Agregar Registro</button-->
        <button type="button" class="btn btn-sm btn-clean-2" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" (click)="authorize()" class="btn cred2 btn-sm btn-primary">Aceptar</button>
      </div>
    </ng-template>
